	@charset "utf-8";
	/* Simple fluid media
	   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
	   http://www.alistapart.com/articles/fluid-images/ 
	*/
	/*customized cSS */
		#map_canvas {
		  margin: 0;
		  color: #008000;
		}
		#map_canvas {
		  min-height: 300px !important;
		  min-width: 300px !important;
		  width: 100%;
		  position: relative !important;
		}

		img, object, embed, video {
			max-width: 100%;
		}

		#panel {
			float: auto;
			width:20px;
			height: 550px;
			display: inline;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			margin-right: 3px;
			margin-bottom: 5px;
			margin-left: 5px;
			margin-top: 5px;
			  }

	/* IE 6 does not support max-width so default to width 100% */
	.ie6 img {
		width:100%;
	}

	/* customized css */
	 .title {
			border-bottom: 1px solid #e0ecff;
			overflow: hidden;
			width: 256px;
			cursor: pointer;
			padding: 2px 0;
			display: block;
			color: #000;
			text-decoration: none;
		  }

		  .title:visited {
			color: #000;
		  }

		  .title:hover {
			background: #e0ecff;
		  }

		  #timetaken {
			color: #f00;
		  }

		  .info {
			width: 200px;
		  }

		  .info img {
			border: 0;
		  }

		  .info-body {
			width: 200px;
			height: 200px;
			line-height: 200px;
			margin: 2px 0;
			text-align: center;
			overflow: hidden;
		  }

		  .info-img {
			height: 220px;
			width: 200px;
		  }


	/* clustering CSS */
	 
	.marker-cluster-small {
		background-color: rgba(181, 226, 140, 0.6);
		}
	.marker-cluster-small div {
		background-color: rgba(110, 204, 57, 0.6);
		}

	.marker-cluster-medium {
		background-color: rgba(241, 211, 87, 0.6);
		}
	.marker-cluster-medium div {
		background-color: rgba(240, 194, 12, 0.6);
		}

	.marker-cluster-large {
		background-color: rgba(253, 156, 115, 0.6);
		}
	.marker-cluster-large div {
		background-color: rgba(241, 128, 23, 0.6);
		}

		/* IE 6-8 fallback colors */
	.leaflet-oldie .marker-cluster-small {
		background-color: rgb(181, 226, 140);
		}
	.leaflet-oldie .marker-cluster-small div {
		background-color: rgb(110, 204, 57);
		}

	.leaflet-oldie .marker-cluster-medium {
		background-color: rgb(241, 211, 87);
		}
	.leaflet-oldie .marker-cluster-medium div {
		background-color: rgb(240, 194, 12);
		}

	.leaflet-oldie .marker-cluster-large {
		background-color: rgb(253, 156, 115);
		}
	.leaflet-oldie .marker-cluster-large div {
		background-color: rgb(241, 128, 23);
	}

	.marker-cluster {
		background-clip: padding-box;
		border-radius: 20px;
		}
	.marker-cluster div {
		width: 30px;
		height: 30px;
		margin-left: 5px;
		margin-top: 5px;

		text-align: center;
		border-radius: 15px;
		font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
	.marker-cluster span {
		line-height: 30px;
		}

