<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dyanmic Google Maps Rendering + Analytics Service with CSV</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
	<link href="css/styleMaps.css" rel="stylesheet">
	<script data-require="jquery@*" data-semver="2.1.1" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>document.write('<base href="' + document.location + '" />');</script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="mainCtrl">
    <div id="wrapper" >
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#home">
                        Home  {{result}} ({{notify}})
                    </a>
                </li>
                <li>
                    <a href="#dashboard">Country Analytics</a>
                </li>
                <li>
                    <a href="#shortcuts">City Analytics</a>
                </li>
                <li>
                    <a href="#overview">Documentation</a>
                </li>
            </ul>
        </div>
        <!-- #sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" >
            <div class="container-fluid">
                <div class="col-lg-12" id="home">
					 <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
					    <h1>An example of Google Maps + CSV</h1>
						 <div class="hero-unit">
							<h3>Map!</h3>
							<p>.</p>
							  <div id="map-container">
									<clustered-map markers="test"></clustered-map>
							  </div>
						<!-- 	<p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
						  </div>
						<div class="container">
							   <h3>Control Panel</h3>
								<div>
									<span><b>Control Settings Optional (default: 10 markers)</b></span>
								</div>
								<div> Choose Size:
									 <select name="nummarkers" id="size"  ng-model="clusterOptionID" ng-change="changedValue(clusterOptionID)" ng-options="value.id as value.name group by value.group for value in clusterOptions" >  <div>
										ng-model value: {{clusterOptionID}}
									</div>
									   <option value="10" selected="selected" >10</option>
									 </select>											
									<span>Max zoom level:
									<select id="zoom">
									  <option value="-1">Default</option>
									  <option value="7">7</option>
									  <option value="8">8</option>
									  <option value="9">9</option>
									  <option value="10">10</option>
									  <option value="11">11</option>
									  <option value="12">12</option>
									  <option value="13">13</option>
									  <option value="14">14</option>
									</select>
								  </span>
							  </div>	  
						</div>&nbsp;
						<div class="container"><a class="btn btn-primary btn-small" ng-click="createMarkers()"><i class="icon-plus"></i>Refresh Map</a>
						</div>
                    <div class="col-lg-12" id="dashboard">
                        <h1>Google Analytics</h1>
                        <p>Loading PieChart of Cities. </p>.
						<geo-chart data1="chartData" title="{{chartTitle}}" width="{{chartWidth}}" height="{{chartHeight}}" ></geo-chart>
                    </div>
                    <div class="col-lg-12" id="shortcuts">
                        <h1>Google Analytics</h1>
                        <p>Loading Geochart of Countries. </p>.	
						<pie-chart data="chartData" width="{{chartWidth}}" height="{{chartHeight}}" select="selectRow(selectedRowIndex)"></pie-chart>
		  <p>Since this is dynamic, lets add fields instead of connecting to db...</p>
				<div class="left">
					 <h2>Chart Data</h2> 
					<table>
						<tr ng-repeat="row in chartData" ng-class="rowClass($index)">
							<td>
								<input ng-model="row[0]">
								<input ng-model="row[1]">
								<button ng-click="deleteRow($index)">&times;</button>
							</td>
						</tr>
					</table>
					<button ng-click="addRow()">Add new row</button>
				</div>
				<div class="right">
					 <h2>Chart Info</h2> Title:
					<input ng-model="chartTitle" class="title">
					<br/>Width:
					<input ng-model="chartWidth">
					<br/>Height:
					<input ng-model="chartHeight">
					<br/>
				</div>
					<!--Code to show any errors or logs-->
					<code><div class="container" id="result"></div></code>
                    </div>
                    <div class="col-lg-12" id="overview">
                        <h1>Documentation</h1>
                        <p>The assignment ends here. Looking forward for your feedback ! </p>
						<span>Technology Used: </span>
							<li> Angular JS + Twitter bootstrap 3.0 + CSS3 </li>
							<li> APIs : Google Maps V3 + Google ClusterMarkers V2 </li>
							<P>Apologies for the delay. I took time to do the best I can, I couldn't complete in the past weeks, due to setting an unrealistic time for the tasks, followed by unexpected events & clashes of appointments. </p>
						 <strong>Errors or Logs of Marker List*</strong>
					    <div class="container" id="result"></div>
                    </div>
                 </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.2/angular.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"> </script>
	<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
	<script type='text/javascript' src='js/logic.js'></script>
	<script type='text/javascript' src="js/directive.js"></script>
	<script type='text/javascript' src="js/papaparse.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script type='text/javascript'>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
	$('body').scrollspy({
    target: 'sidebar-wrapper',
    offset: 40
	});
    </script>
</body>
</html>
